
/*body {
    background: linear-gradient(to bottom, #d768ff, #fa86c0);
}*/
#nav{
    background: linear-gradient(rgb(139, 153, 236) , rgb(101, 197, 241) , rgb(104, 231, 236)) ;
}

.divboton{
    display: flex;
}
body h1{
    text-align: center;
    margin-bottom: 30px;
}
.estrenos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}
  
.fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.unaFila h3{
    text-align: center;
}
  
.imagen {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 250px;
    height: 350px;
}
.imagen6,
.imagen7{
    margin-right: 11px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 250px;
    height: 350px;
}

.imagen h2 {
    margin: 5px 0; 
}

.boton {
    display: inline-block;
    padding: 15px 25px;
    background-color: rgb(139, 153, 236); /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px;
    margin-top: 2%;
    margin-left: 85%;
    cursor: pointer;
    
  }
