body{
    display: flex;
    background: url(../imagenes/fondo-pelicula.jpg);
}

.descripcion{
    top: 20%;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.imagenes{
    margin: 2px;
    width: 220px;
    height: 280px;
}

.dias{
    width: 9em;
    height: 3em;
    position: absolute;
    top: 48% ;
    align-items: center;
    vertical-align: center;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.741);
    color:white;
}
.atras{
    top: 90%;
    text-decoration-color: black ;
}

.letra{
    color: white;
}

#caja1,
#caja2,
#caja3,
#caja4,
#caja5,
#caja6,
#caja7{
    width: 7em;
    height: 3em;
    position: absolute;
    top: 53% ;
    align-items: center;
    vertical-align: center;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#caja1{
    left: 17%;
    color: black;
    text-align: center;
    margin: center;
}

#caja2{
    left: 28%;
    color: black;
    text-align: center;
    margin: center;
}

#caja3{
    left: 39%;
    color: black;
    text-align: center;
    margin: center;
}

#caja4{
    left: 51%;
    color: black;
    text-align: center;
    margin: center;
}

#caja5{
    left: 62%;
    color: black;
    text-align: center;
    margin: center;
}

#caja6{
    left: 73%;
    color: black;
    text-align: center;
    margin: center;
}

#caja7{
    left: 84%;
    color: black;
    text-align: center;
    margin: center;
}

