.precios_comida{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}
.fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-right: 50%;
}
.combos{
    margin-top: 10px;
}
.fila2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-right: 5%;
}
.fila1{
    margin-top: 15px;
    margin-bottom: 20px; 
    margin-right: 60px;
}
.fila3{
    margin-right: 12%;
}