.precios_comida{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}
.fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-right: 5%;
}
.combos{
    margin-top: 10px;
}
/* .unaFila{

} */