div{
     display: flexbox;
} 

.texto{
    font-size: x-large;
    font-family: fantasy;
}

.texto2{
    font-size: medium;
    font-family: fantasy;
}

.pochoclogrande{
    top: 20%;
    left: 30%;
    width: 160px;
    height: 190px;
}

.pochoclochico{
    top: 20%;
    left: 60%;
    width: 130px;
    height: 160px;
}

.gaseosagrande{
    top: 60%;
    left: 30%;
    width: 100px;
    height: 190px;
}

.gaseosamediana{
    top: 60%;
    left: 60%;
    width: 80px;
    height: 150px;
}

.gaseosachica{
    top: 60%;
    left: 90%;
    width: 60px;
    height: 110px;
}