#nav1{
    background: linear-gradient(pink , rgb(235, 144, 231) , rgb(167, 167, 236)) ;
}

#nav2{
    background: rgba(128, 127, 127, 0.568) ;
}

#nav3{
    background: linear-gradient(rgb(248, 55, 200), rgb(110, 212, 247)) ;
}

#nav4{
    background: linear-gradient(rgb(139, 153, 236) , rgb(101, 197, 241) , rgb(104, 231, 236))
}

#nav5{
    background: linear-gradient(pink , rgb(235, 144, 231) , rgb(208, 167, 236)) ;
}

#nav6{
    background: linear-gradient(rgb(236, 235, 139) , rgb(241, 192, 101) , rgb(236, 135, 104)) ;
}


.com1{
    font-size: xx-large;
    animation: infinite alternate reverse;
    text-align: center;
    margin-bottom: 20px;
}
.com2{
    font-size: xx-large;
    animation: infinite alternate reverse;
    text-align: center;
    margin-bottom: 20px;
}

.img1{
    top: 20%;
    left: 7%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img2{
    top: 20%;
    left: 30%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img3{
    top: 20%;
    left: 50%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img4{
    top: 20%;
    left: 70%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img5{
    top: 60%;
    left: 7%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img6{
    top: 60%;
    left: 30%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img7{
    top: 60%;
    left: 50%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img8{
    top: 60%;
    left: 70%;
    height: 340px;
    width: 265px;
    margin: 2px;
}


.carousel-items{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.d-block{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.carousel-control-prev-icon{
    background-color: rgba(112, 112, 112, 0.389);
}
.carousel-control-next-icon{
    background-color: rgba(112, 112, 112, 0.389);
}

.img_principal{
    margin-left: 130px;
}