.com1{
    font-size: xx-large;
    animation: infinite alternate reverse;
    margin-left: 19px;
}

.img1{
    top: 20%;
    left: 2%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img2{
    top: 20%;
    left: 22%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img3{
    top: 20%;
    left: 42%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img4{
    top: 20%;
    left: 62%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img5{
    top: 60%;
    left: 2%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img6{
    top: 60%;
    left: 22%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img7{
    top: 60%;
    left: 42%;
    height: 340px;
    width: 265px;
    margin: 2px;
}

.img8{
    top: 60%;
    left: 62%;
    height: 340px;
    width: 265px;
    margin: 2px;
}


.carousel-items{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.d-block{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.carousel-control-prev-icon{
    background-color: rgba(112, 112, 112, 0.389);
}
.carousel-control-next-icon{
    background-color: rgba(112, 112, 112, 0.389);
}